<table class="addevent">
  {{#events}}
    <tr><td>
        <h2>{{ title }}</h2></td>
        <tr><td><p>{{ description }}</p></td>
		<tr><td><input class="btn btn-primary submit-but" type="submit" name="like" value="Like" /></td>
    </tr>
  {{/events}}
</table>